.mainWeatherContainer{
    display: none;
    border-radius: 10px;
    width: auto;
    margin-top: 25px;
}

body{
    background-color: rgb(32, 19, 88);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primaryWeather{
    background-color: rgb(36, 36, 167);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 5px 0px 0px 5px;
    width: 180px;
}

#temp{
    font-size: 20pt;
}

.weatherDetails{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 50px;
    align-items: center;
    background-color: rgb(66, 48, 184);

    color: white;
    border-radius: 0px 5px 5px 0px;
    width: 230px;
}

.list-group-item{
    background-color: rgb(66, 48, 184);
    color: white;
}

#windIcon{
    max-width: 75px;
    max-height: 100px;
    width: auto;
    height: auto;
}